<div class="forgot-container">
  <div class="forgot-card">
    <div class="forgot-logo">
      <span class="logo-blue">FinanCity</span>
    </div>
    <h2 class="forgot-title">Reset Password</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <label class="forgot-label">Enter Your Mail Address:</label>
      <div class="forgot-input-group" [ngClass]="{'has-error': errorMessage}">
        <span class="input-group-text"><mat-icon >person</mat-icon></span>
        <input type="email" formControlName="email" placeholder="Mail Address" class="form-control" />
      </div>
      <div class="forgot-error" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit" class="forgot-btn">Generate Token</button>
    </form>
    <a routerLink="/login" class="forgot-back"><mat-icon>arrow_back</mat-icon> Back to Login</a>
  </div>
</div>
